<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Allotment</title>
</head>
<body>
  <h1> This product has been alloted to ajay </h1> 
  <table>
      <tbody>
          <th>
              <tr>
                  <td>S no.</td>
                  <td>Product id</td>
                  <td>Bidder Email</td>
                  <td>bidded amount</td>
              </tr>
         </th>
         {{#each userData}}
         <tr>
            <td>{{this.sno }}</td>
            <td>{{this.pid }}</td>
            <td>{{this.email }}</td>
            <td>{{this.price }}</td>
         </tr>
          {{/each}}
      </tbody>
  </table>
</body>
</html>